*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


section
{
    padding: 100px;
    min-height: 100vh;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imag{

    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    
}

.banner .imag img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ltext{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;

}

.banner .contentBx{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 200px;

}



.banner .content h4{

    font-size: 1.5em;
    color: #333;
    font-weight: 300;
    
}

.banner .content h4 span{
    color:#0a4257;
    font-size: 1.5em;
    font-weight: 700;
    
}

.banner .content h2{
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
    
}

.btn{
    background: #0a4257;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;

}

.tittle{
    width: 100%;
    text-align: center;
    
}

.tittle h2{
    position: relative;
    color: #0a4257;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.tittle p{
    max-width: 700px;
    display: inline-block;
}
.tittle h2:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.tittle.white h2, .tittle.white p{
    color: #fff;
}

.tittle.white h2::before{
    background: #fff;
}

.about{
    background: #0a4257;

}

.about .contentBx{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .contentBx .textBx{
    min-width: 49%;
    width: 49%;

}

.about .contentBx .textBx p{
    color: #fff;
}

.about .contentBx .imgBx{
    margin-left: 40px;
}

.about .contentBx .imgBx img{
    max-width: 100%;
}



.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .content .workBx{
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}



.work .content .workBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.work .content .workBx .textBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;

}


.footer{
    color: #fff;
    background: #111;
    text-align: center;
    padding: 20px;
}

.footer p{
    margin: 0;
    font-size: 16px;
}

@media (max-width: 991px){
    .banner .imag{
        display: none;
    }

    .banner .contentBx, .sidebar{
        width: 100%;
        padding: 40px;
    }

    .ltext{
        left: 40px;
    }


    section {
        padding: 40px;
        min-height: 100vh;
    }

    .about .content {
        flex-direction: column;
    }

    .about .content .textBx{
        min-width: 100%;
        width: 100%;
    }

    .about .content {
        margin-top: 0;
    }

    .about .content .imgBx {
        margin-left: 0;
    }

   

    
}