*{
    background-image: url(https://lh3.googleusercontent.com/proxy/c1By6MDVE4yLfW7OU2EAHYSagMT8H5dfBrs8ix17K7DIK1uhE4A3-_APACVK846DHgYb9NEozYbBCe5zg1qM8xN_Lr3FWSNla8zyY8J80wP7ofQvVqpnSHKhN6i1_7ZYloAZiCAC0kyxUKUi7kCj8TqVIhR2AKSZ-656xQ);
    background-attachment: fixed;
    color: #fff;
}
#asd{
    z-index: 10;
    left: 145px;
}
#reyd{
    z-index: 8;
    left: 120px;
    top:85px;
}
#reinad{
    z-index: 6;
    left: 100px;
    top:164px;
}
#sotd{
    z-index: 4;
    left: 70px;
    top:250px;
}
#Diezd{
    z-index: 2;
    left: 45px;
    top: 330px;
}

#asd, #reyd, #reinad, #sotd, #Diezd, #asd2, #reyd2, #reinad2, #sotd2, #Diezd2{
    position: relative;
}

/*Z-Index :p*/
#Diezd2{
    z-index: 10;
    left: 145px;
}
#sotd2{
    z-index: 8;
    left: 120px;
    top:85px;
}
#reinad2{
    z-index: 6;
    left: 100px;
    top:164px;
}
#reyd2{
    z-index: 4;
    left: 70px;
    top:250px;
}
#asd2{
    z-index: 2;
    left: 45px;
    top: 330px;
}


